body {
  max-width: 1140px;
  border-left: 10px solid transparent;
}
.tl {
  position: relative;
}
.nw {
  float: left;
  width: 80%;
  margin-bottom: -1px;
}
.nw li {
  float: left;
  border-right: 1px solid #e5e5e5;
}
.nw li a {
  display: block;
  padding: 2.5em 1em .5em;
  height: 1.75em;
  color: #b2b2b2;
  background-color: transparent;
}
.nw li a:hover,
.nw li a:focus {
  background: #ffff65;
  color: #666;
}
.nw .current {
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  background-color: #fff;
  width: 197px;

  z-index: 99;
}
.nw .current a {
  padding-top: 1.5em;
  padding-bottom: 0;
  height: 3.3125em;
}
.nw .current a:hover {
  background-color: #fff;
}
.nw .current img {
  position: relative;
  top: -.125em;
  width: 165px;
}
.nw li.cody a {
  background-image: url('../images/cody.png');
  background-repeat: no-repeat;
  background-position: right 0.125em;
}
/* Social Media Icons */
.ch {
  float: right;
  margin: 2.5em 2.6% 0 0;
  z-index: 50;
}
.ch li {
  float: left;
  margin-left: .625em;
}
.ch a {
  text-indent: -9999em;
  display: block;
  width: 1.4375em;
  height: 1.4375em;
  background-image: url(../images/channels.png);
  background-size: 200% auto;
}
.rss a {
  background-position: -1.4375em 0;
}
.fb a {
  background-position: -1.4375em -1.4375em;
}
.tw a {
  background-position: -1.4375em -2.875em;
}
.nl a {
  background-position: -1.4375em -4.3125em;
}
.sn {
  width: 100%;
  margin-top: 5.5%;
}
.sct {
  margin-top: -.5em;
}
#menu-category-menu {
  text-align: center;
  list-style-type: none;
  margin: -1em 0 1.5em;
  padding: 0 0 0 32px;
  border-bottom: .3125em solid rgba(0,0,0,.06);
}
#menu-category-menu li {
  border-left: none;
  border-right: .07em solid #e5e5e5;
  margin-bottom: -.3125em;
  padding-bottom: 0;
  float: left;
}
#menu-category-menu li a {
  font-size: .75em;
  letter-spacing: 0.175em;
  color: #333;
  display: block;
  width: auto;
  border: 0;
  padding: .75em .9em;
}
#menu-category-menu li a:hover,
#menu-category-menu li a:focus {
  background: #ff6;
}
#menu-category-menu .sub-menu {
  display: none;
}
.current-menu-item > a {
  background: #ff6;
  color: #333;
}
.menu-item-coding {
  border-bottom: solid .3125em #C9E9E5;
}
.menu-item-coding:hover {
  border-bottom-color: #63BFB2;
}
.menu-item-design {
  border-bottom: solid .3125em #CDEEAA;
}
.menu-item-design:hover {
 border-bottom-color: #6ECE0A;
}
.menu-item-mobile {
  border-bottom: solid .3125em #F9F0A8;
}
.menu-item-mobile:hover {
  border-bottom-color: #EBD203;
}
.menu-item-graphics {
  border-bottom: solid .3125em #E0CFDF;
}
.menu-item-graphics:hover {
  border-bottom-color: #A675A2;
}
.menu-item-uxdesign {
  border-bottom: solid .3125em #FACED2;
}
.menu-item-uxdesign:hover {
  border-bottom-color: #F0717C;
}
#menu-category-menu .menu-item-wordpress {
  border-bottom: solid .3125em #BCD8F0;
  border-right: 0;
}
#menu-category-menu .menu-item-wordpress:hover {
  border-bottom-color: #3E8DD2;
}
.cc {
  margin-right: -28.125em;
  float: left;
  width: 100%;
}
.fluid {
  border: 1px solid #e5e5e5;
  margin-right: 28.125em;
}
.grid {
  padding-top: .5em 0;
}
.col {
  float: left;
}
/* Inside the #container */
.main {
  width: 100%;
  float: right;
  padding: 0;
}
.cr {
  border: 1px solid #30a6c7;
}
.pmd li {
  display: inline-block;
  color: #d7d7d7;
}
.pmd .a {
  display: block;
}
.pmd .rd { background-image: url(../images/icon_date.gif); }
.pmd .tags { background-image: url(../images/icon_tags.gif); }
.pmd .comments { background-image: url(../images/icon_comments.gif); }
.post {
  padding-left: 5.5%;
  padding-right: 5.5%;
}
.ad {
  display: block;
  float: right;
  margin: 0px 0px 1em 2em;
  width: 18.75em;
}
br + em,
figcaption {
  color: #999999;
}
br + em a:link,
br + em a:visited,
figcaption a:link,
figcaption a:visited {
  border-bottom: 1px solid #e5e5e5;
}
blockquote {
  color: #3e3e3e;
  border: 1px solid #e5e5e5;
}
.lt a {
  background: #e53b2c;
}
.sot {
  border-bottom: 1px solid #e5e5e5;
}
.top {
  color: #999; /* IE8 does not know about rgbA, hence the hex-value */
  border-bottom: 1px solid #e5e5e5;
}
.top:hover,
.top:focus {
  color: #676767;
}
.sot.single {
  border-bottom: 1px solid #e5e5e5;
}
.grv {
  text-align: left;
}
.grv img {
  margin-left: 20%;
}
.ras {
  margin-left: 5.5%;
}
.ra {
  float: left;
  clear: none;
  width: 30%;
  margin-right: 3%;
}
.ra .pp {
  width: 100%;
  float: none;
}
.ra h3 {
  float: none;
  max-width: 100%;
  padding: 0px;
}
/* Comments section */
.sub-tabs {
  margin-left: 5.5%;
}
.sub-tabs a {
  color: #b2b2b2;
}
/* Pagination */
.prv, .nxt {
  width: 20%;
  float: left;
  position: static;
}
.prv a, .nxt a {
  background: #e53b2c; /* Smashing Orange */
}
.prv a:hover, .nxt a:hover,
.prv a:focus, .nxt a:focus {
  background: #333;
}
.pgs {
  width: 60%;
  float: left;
}

/* Sidebar */
/* Inside the #wpsidebar container */
.side {
  padding: 0 0 0 1.25em;
  width: 420px;
}
.side img {
  border: none;
}
/* Search in the sidebar */
.sf label {
  color: #a6a6a6;
}
.sf .search-submit {
  background: #e53b2c;
}
.sf .search-submit:active {
  color: #742718;
}
/* First, second and third block of ads */
.bw {
  margin-bottom: 1.25em;
}
.bnnr-list {
  list-style-type: none;
}
.bnnr-list li {
  font-size: .75em;
  text-align: center;
  width: 48%;
  display: inline-block;
  margin: 0 2% 1em 0;
}
.bnnr-list li a {
  border-bottom: 0;
}
.bnnr-list li.double {
  width: 410px;
}
#sidebarspecialtarget {
  padding: 0 .625em 1em 0;
}
/* Sidebar widgets */
.wg {
  clear: both;
  margin: 1.5em 0 1.5em -1.25em;
  padding: 0 1.25em 2em;
  border: 1px solid #d7d7d7;
  border-left: none;
  background: #F8F8F8;
}
.wg.sf form {
  margin: .75em 0 1em;
}
.wg input[type="text"] {
  width: 66%;
}
.wg .search_submit {
  width: 30%;
  border: none;
  /*padding-bottom: 0.5999em; don't know if want */
}
.wg h3 {
  padding-left: 2.5em;
  position: relative;
}
.wg h3 a {
  position: relative;
}
.wg h3 img {
  position: absolute;
  left: -2.5em;
}
.wg li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding: 1em 0px;
}
.tl p {
  font-size: 0.85em;
}
.so div {
  font-size: 0.9775em;
  margin-top: 0.5em;
  padding-bottom: 1.75em;
  border-bottom: 1px solid #eaeaea;
}
.so img {
  float: left;
  overflow: hidden;
  width: 6em;
  margin: 1.5em 1.5em 0px 0px;
}
.so div p {
  line-height: 1.55em;
  padding-top: 1.125em;
  overflow: hidden;
}

/* Footer Styling */
#footer {
  padding: 0;
  margin-right: 30em;
}
.fp {
  float: left;
  clear: none;
  padding: 0;
  margin: 0 0 3em 2.5%;
  width: 30%;
}
.pi {
  max-width: 33%;
  margin: auto 0 .125em;
  padding: .25em 0 0;
}
.pd {
  width: auto;
  clear: both;
}
.stmt {
  margin-left: 2.5%;
  color: #9c9c9c;
}
.stmt a:link,
.stmt a:visited {
  border-bottom: 1px solid #e5e5e5;
}
/*.cat {
  margin-top: 1em;
}
.main .cat {
  margin-left: 5.5%;
  margin-right: 5.5%;
}*/

body.search-results-page .col.main.page {
  float: left;
}

form input[type="text"], textarea {
  border: 1px solid #e5e5e5;
}
form input[type="submit"] {
  background-color: #e53b2c;
  border: 1px solid #e53b2c;
}
form input[type="submit"]:hover {
  border: 1px solid #B93024;
}
form input[type="submit"]:active {
  border: 1px solid #8B2E1C;
  color: #5D2B1F;
}
#mc_embed_signup input[type="email"] {
  border: 1px solid #dedede;
}
.awithus {
  color: #bfbfbf;
}
.ad span {
  color: #d5d5d5;
}
.table-overview {
  border: .07em solid #e5e5e5;
}
.article-table,
.two-columns td,
.three-columns td,
.four-columns td,
.five-columns td,
.six-columns td,
.seven-columns td,
.eight-columns td {
  border: .07em solid #e5e5e5;
}

nav .nw li {
    border-right: 1px solid #e6e6e6 !important;
    border-bottom: 1px solid #e6e6e6 !important;
}
nav .nw li.current {
    border-right: 1px solid #e6e6e6 !important;
    border-bottom: 1px solid #e6e6e6 !important;
}
nav .nw li a {
    color: #b2b2b2;
}
nav .nw li a:hover {
    color: #333;
}
.cl .cau {
    width: 100%;
}
.cl .cau .cau {
    width: auto;
}
.cl .aume {
    display: block;
}
.bypostauthor > .c .ctx {
  border: .07em solid #f3a48f;
  background-color: #fdeeea;
}
.bypostauthor > .cn {
  color: #f3a48f;
}
.cn {
  color: #f0f0f0;
}
.ctx {
  border: 1px solid #e5e5e5;
}
.sb, /* sidebar with ads */
.sf.wp-search-form, /* search form in the sidebar */
.ch, /* social networking icons */
.sn, /* sections navigation */
.sct, /* the actual nav container */
.tl, /* nav-tag needs to be block */
.nw, /* main navigation for books, ebooks, workshops and jobs with logo */
.top /* back to top link at the bottom of pages */
{
  display: block !important;
}
.mini,
.mnb,
.mise,
.h,
.mn h2 {
  display: none;
}
